.vscode {
    --spacing-unit: 10px;

    --gutter-xs: calc(var(--spacingUnit) / 2);
    --gutter-sm: var(--spacingUnit);
    --gutter-md: calc(var(--spacingUnit) * 2);
    --gutter-lg: calc(var(--spacingUnit) * 4);
    --gutter-xl: calc(var(--spacingUnit) * 7);

    --pallet-0: '#00A8FF';
    --pallet-1: '#B8E63B';
    --pallet-2: '#880055';
    --pallet-3: '#E70258';
    --pallet-4: '#FAF100';
    --background: '#202026';
    --backgroundDark: '#18181F';
    --backgroundInverse: 'rgba(0, 0, 0, 0.8)';
    --inputBackground: '#28282F';
    --inputBorder: '#18181F';
    --text: '#D4D4D4';
    --textMuted: '#606066';
    --textInverse: '#fff';

    --border-radius: 6px;

    --header: 40px;

    --activityBarBackground: '';
    --activityBarForeground: '';
    --activityBarBorder: '';
    --statusBarBackground: '';
    --statusBarForeground: '';
    --editorBackground: '';
    --editorForeground: '';
    --editorGroupHeaderTabsBackground: '';
    --editorLineNumberForeground: '';
    --tabActiveBackground: '';
    --tabActiveForeground: '';
    --tabInactiveBackground: '';
    --tabInactiveForeground: '';
    --editorGroupHeaderTabsBorder: '';
    --tabActiveBorder: '';
    --tabBorder: '';
    --contrastActiveBorder: '';
    --contrastBorder: '';
    --titleBarActiveBackground: '';
    --titleBarActiveForeground: '';
    --titleBarInactiveBackground: '';
    --titleBarInactiveForeground: '';
    --titleBarBorder: '';

    @import './components/titleBar.css';
}
