.vscode {
    & .title-bar {
        background: var(--titleBarActiveBackground);
        border-bottom: 1px solid var(--titleBarBorder);

        & h3 {
            color: var(--titleBarActiveForeground);
        }
    }
}