doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title VSCMT
        link(rel='stylesheet', href='style.css')
    body.flex.flex-col.h-screen
    main(class='flex-1 w-screen flex flex-col lg:flex-row')
        div(class='h-auto w-full xl:w-1/2 flex-1 flex vscode')
            include vscode/index.pug
        div(class='h-auto w-full xl:w-1/2 flex-1 flex mattermost') Mattermost
    footer(class='flex-initial h-10 flex justify-center items-center')
        p Built with ❤️ by #[a.underline(href='https://gitlab.com/JonathanTroyer') Jonathan Troyer]
